<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" routerLink="/"><img src="assets/logo.svg"></a>
    <button class="navbar-toggler" data-target="#toggle" data-toggle="collapse" aria-controls="toggle" aria-expanded="false" aria-label="View Options">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="toggle" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="form-group col-md-4 offset-2">
        <label for="firstName">First Name</label>
        <input id="firstName" class="form-control" type="text" name="firstName">
        <label for="lastName">Last Name</label>
        <input id="lastName" class="form-control" type="text" name="lastName">
        <label for="userId">Set user ID</label>
        <input id="userId" class="form-control" type="text" name="userId">
        <label for="password">Password</label>
        <input id="password" class="form-control" type="text" name="password">
        <label for="cpassword">Re-enter password</label>
        <input id="cpassword" class="form-control" type="text" name="cpassword">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="text" name="email">
        <label for="company">Company</label>
        <input id="company" class="form-control" type="text" name="company">
        <label for="location">Location</label>
        <input id="location" class="form-control" type="text" name="location">
        <button class="btn btn-primary" type="button">Create account!</button>
    </div>
</div>